@page
@model ISCJ.Pages.School.CoursesModel
@{
    ViewData["Title"] = "Courses";
}

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}

<form method="POST">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Student Registration</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    School
                </li>
                <li class="active breadcrumb-item">
                    <strong>Add/Edit Subjects</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
     
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group  row">
                <label class="col-sm-2 col-form-label">Subject Name</label>

                <div class="col-sm-10">
                    <input type="text" placeholder="Subject Name" class="form-control" asp-for="@Model.SubjectName" />

                    <span asp-validation-for="@Model.SubjectName" class="text-danger"></span>

                </div>

            </div>
            <div class="form-group  row">
                <label class="col-sm-2 col-form-label">Subject Description</label>

                <div class="col-sm-10">
                    <input type="text" placeholder="Subject Description" class="form-control" asp-for="@Model.SubjectDescription" />

                    <span asp-validation-for="@Model.SubjectDescription" class="text-danger"></span>

                </div>

            </div>
           
            <div class="form-group row" style="text-align:right">
                <div class="col-sm-12 col-sm-offset-2">
                    <button class="btn btn-white btn-sm" type="submit" asp-page-handler="Cancel">Cancel</button>

                    <button class="btn btn-white btn-sm" type="submit" asp-page-handler="Reset">Reset</button>

                    <button class="btn btn-primary btn-sm" type="submit" asp-page-handler="Save">Save</button>
                </div>

            </div>
        </div>
    </div>
     
        <div class="row">
            <div class="col-lg-12">

                <table class="table-bordered" width="100%">
                    <tr>
                       
                        <td>Name</td>
                        <td>Description</td>
                    </tr>
                    <tbody>
                    @for (var i = 0; i < Model.Subjects.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model.Subjects[i].SubjectId"/>
                                @Model.Subjects[i].SubjectName
                            </td>
                            <td>
                                @Model.Subjects[i].SubjectDescription
                            </td>

                        </tr>
                    }
                    </tbody>

                </table>
            </div>
        </div>
        </div>
</form>



