@page
@model RegistrationsModel
@{
    ViewData["Title"] = "Enrollments";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}

<form method="post">
  <div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-9">
      <h2>Enrollments</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
        </li>
        <li class="breadcrumb-item">
          Student Management
        </li>
        <li class="active breadcrumb-item">
          <strong>Enrollments</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-3">
      <div class="title-action">
        @Html.DropDownListFor(x => x.ProgramId, new SelectList(Model.Programs, "ProgramId", "ProgramName"), "--Select--",
htmlAttributes: new { @class = "form-control m-b" })

      </div>
    </div>
  </div>
   
        <div class="ibox-content">

            <table class="table">
                <thead>
                <th>Student Name</th>
                <th>Islamic School Grade</th>
                <th>Public School Grade</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Erollment Date</th>
                </thead>
                @for (var i = 0; i < Model.Enrollments.Count; i++)
                {
                    <tr>
                        <td>
                            <a href="@Url.Page("/StudentManagement/StudentDashboard", new {eid = Model.Enrollments[i].EnrollmentId, prgId = Model.ProgramId})">
                                @Model.GetContactName(@Model.Enrollments[i].StudentContactInfo)</a></td>
                        <td> <Code code-type="islamicschoolgradelist" code="@Model.Enrollments[i].IslamicSchoolGradeId"></Code></td>
                        <td> <Code code-type="publicschoolgradelist" code="@Model.Enrollments[i].PublicSchoolGradeId"></Code></td>
                        <td>@Model.GetContactName(@Model.Enrollments[i].FatherContactInfo)</td>
                        <td>@Model.GetContactName(@Model.Enrollments[i].MotherContactInfo)</td>
                        <td>@Model.ShowDateTimeInEST(@Model.Enrollments[i].CreateDate.ToLocalTime())</td>
                    </tr>

                }
            </table>
        </div>
    
  <input type="button" id="btnAddNew" name="btnAction" class="btn-sm btn-success" value="Add New" onclick="window.location = 'RegisterStudent2'" />
  <input type="hidden" id="regId" name="regId" />
</form>

@section scripts
{
<script language="javascript">
  $(document).ready(function () {
    Startup();
  });

  function Startup() {
    var ctlId = "#ProgramId";//todo: isa: need to generate like we do in asp-for.
    $(ctlId).change(function (x) {
     
      $("form").submit();
    });
  }
  
</script>

}
