@page
@model RegistrationsModel
@{
    ViewData["Title"] = "Registrations";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<form method="post">
  <div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-9">
      <h2>Registrations</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
        </li>
        <li class="breadcrumb-item">
          Student Management
        </li>
        <li class="active breadcrumb-item">
          <strong>Registrations</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-3">
      <div class="title-action">
        @Html.DropDownListFor(x => x.ProgramId, new SelectList(Model.Programs, "ProgramId", "ProgramName"), "--Select--",
htmlAttributes: new { @class = "form-control m-b" })

      </div>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      @for (var i = 0; i < Model.Registrations.Count; i++)
      {
        <div class="col-lg-3">
          <div class="contact-box center-version">

              <a href="profile.html">
                  <img alt="image" class="rounded-circle" src="@(Model.Registrations[i].StudentContactInfo.Gender == 1 ? "/images/male.png" : "/images/female.png")" />




                  <h3 class="m-b-xs">
                      <strong>
                          @(Model.Registrations[i].StudentContactInfo.FirstName + " " + @Model.Registrations[i].StudentContactInfo.LastName)
                      </strong>
                  </h3>

                  <div class="font-bold">Student</div>
                  <address class="m-t-md">
                      <strong>TBD</strong><br>
                      @Model.Registrations[i].StudentContactInfo.StreetAddress<br>
                      @Model.Registrations[i].StudentContactInfo.City, @Model.Registrations[i].StudentContactInfo.State, @Model.Registrations[i].StudentContactInfo.ZipCode<br>
                      <abbr title="Islamic School Grade">Islamic School Grade:</abbr> <Code code-type="islamicschoolgradelist" code="@Model.Registrations[i].IslamicSchoolGradeId"></Code>
                      <br />
                      <abbr title="Islamic School Grade">Public School Grade:</abbr> <Code code-type="publicschoolgradelist" code="@Model.Registrations[i].PublicSchoolGradeId"></Code>
                  </address>
              </a>
            <div class="contact-box-footer">
              <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call Parent </a>
                <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
              </div>
            </div>

          </div>
        </div>
      }

    </div>
  </div>
  <input type="button" id="btnAddNew" name="btnAction" class="btn-sm btn-success" value="Add New" onclick="window.location = 'RegisterStudent2'" />
  <input type="hidden" id="regId" name="regId" />
</form>

@section scripts
{
<script language="javascript">
  $(document).ready(function () {
    Startup();
  });

  function Startup() {
    var ctlId = "#ProgramId";//todo: isa: need to generate like we do in asp-for.
    $(ctlId).change(function (x) {
     
      $("form").submit();
    });
  }
  
</script>

}
