@page
@model RegisterStudent2Model

@{
  ViewData["Title"] = "Contacts";
  Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<form method="post" name="frmRegister2">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Student Registration</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
        </li>
        <li class="breadcrumb-item">
          Student Management
        </li>
        <li class="active breadcrumb-item">
          <strong>Student Registration</strong>
        </li>
      </ol>
    </div>
  </div>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Program</h5>
            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Program</label>

                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.StudentRegistration.ProgramId, new SelectList(Model.Programs, "ProgramId", "ProgramName"), "--Select--",
                            htmlAttributes: new { @class = "form-control m-b" })

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Membership Fee $365</label>

                    <div class="col-sm-10">
                        <input type="checkbox" asp-for="@Model.StudentRegistration.AddSchoolMemberShipFee" />

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Registration Fee $20</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrationFeeCount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>

                    </div>
                </div>

                <div class="hr-line-dashed"></div>
            </div>
        </div>

        <div class="ibox ">
            <div class="ibox-title">
                <h5>Fees</h5>
            </div>
            <div class="ibox-content">
                @{ var i = 0; }
                <table>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="@Model.StudentRegistration.BillingInstructions[i].IsSelected" /></td>
                            <td><label class="col-sm-4 col-form-label">@Model.Products[i].Description</label></td>
                            <td><label class="col-sm-4 col-form-label">$ @Model.Products[i].Price</label></td>
                            <input type="hidden" value="@Model.Products[i].ProductCode" asp-for="@Model.StudentRegistration.BillingInstructions[i].ProductCode" />
                            <td>
                                <div class="col-sm-10">
                                    <select asp-for="@Model.StudentRegistration.BillingInstructions[i].ProductCount">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>

                                </div>
                            </td>
                        </tr>
                        i = i + 1;
                    }
                </table>
            </div>
        </div>
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Guardians/Parent</h5>

            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Father</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="Type Father name here" autocomplete="off"
                               data-url="@Url.Content("~/api/Contact/Search")" data-target-id="StudentRegistration_FatherId"
                               class="autocomplete form-control" />
                        <input type="hidden" asp-for="@Model.StudentRegistration.FatherId" />

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Mother</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="Type Mother name here" autocomplete="off"
                               data-url="@Url.Content("~/api/Contact/Search")" data-target-id="StudentRegistration_MotherId"
                               class="autocomplete form-control" />
                        <input type="hidden" asp-for="@Model.StudentRegistration.MotherId" />
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
            </div>
        </div>
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Student 1</h5>

            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Student</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="Student name here" autocomplete="off"
                               data-url="@Url.Content("~/api/Contact/Search")" data-target-id="StudentRegistration_StudentRegistrations_0__StudentId"
                               class="autocomplete form-control" />
                        <input type="hidden" asp-for="@Model.StudentRegistration.StudentRegistrations[0].StudentId" />

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Public School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[0].PublicSchoolGrade" class="form-control"
                                asp-items="@Model.PublicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Islamic School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[0].IslamicSchoolGrade" class="form-control"
                                asp-items="@Model.IslamicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
        </div>

        <div class="ibox ">
            <div class="ibox-title">
                <h5>Student 2</h5>

            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Student</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="Student name here" autocomplete="off"
                               data-url="@Url.Content("~/api/Contact/Search")" data-target-id="StudentRegistration_StudentRegistration_1__StudentId"
                               class="autocomplete form-control" />
                        <input type="hidden" asp-for="@Model.StudentRegistration.StudentRegistrations[1].StudentId" />

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Public School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[1].PublicSchoolGrade" class="form-control"
                                asp-items="@Model.PublicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Islamic School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[1].IslamicSchoolGrade" class="form-control"
                                asp-items="@Model.IslamicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
        </div>

        <div class="ibox ">
            <div class="ibox-title">
                <h5>Student 3</h5>

            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Student</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="Student name here" autocomplete="off"
                               data-url="@Url.Content("~/api/Contact/Search")" data-target-id="StudentRegistration_StudentRegistration_2__StudentId"
                               class="autocomplete form-control" />
                        <input type="hidden" asp-for="@Model.StudentRegistration.StudentRegistrations[2].StudentId" />

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Public School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[2].PublicSchoolGrade" class="form-control"
                                asp-items="@Model.PublicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Islamic School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[2].IslamicSchoolGrade" class="form-control"
                                asp-items="@Model.IslamicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
        </div>

        <div class="ibox ">
            <div class="ibox-title">
                <h5>Student 4</h5>

            </div>
            <div class="ibox-content">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Student</label>

                    <div class="col-sm-10">
                        <input type="text" placeholder="Student name here" autocomplete="off"
                               data-url="@Url.Content("~/api/Contact/Search")" data-target-id="StudentRegistration_StudentRegistration_3__StudentId"
                               class="autocomplete form-control" />
                        <input type="hidden" asp-for="@Model.StudentRegistration.StudentRegistrations[3].StudentId" />

                    </div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Public School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[3].PublicSchoolGrade" class="form-control"
                                asp-items="@Model.PublicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Islamic School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.StudentRegistration.StudentRegistrations[3].IslamicSchoolGrade" class="form-control"
                                asp-items="@Model.IslamicSchoolGradeList">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="form-group row" style="text-align:right">
            <div class="col-sm-12 col-sm-offset-2">
                <button class="btn btn-white btn-sm" type="submit" name="btnCancel">Cancel</button>

                <button class="btn btn-white btn-sm" type="submit" name="btnReset">Reset</button>

                <button class="btn btn-primary btn-sm" type="submit" name="btnSave">Save</button>

            </div>
            s
        </div>
    </div>
</div>
</div>
</form>



@section Scripts
  {
  <script src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/v2.0.0/dist/latest/bootstrap-autocomplete.min.js"></script>

  <script language="javascript">
    $("document").ready(function () {
      SetupContactAutoComplete();
    });
    function SetupContactAutoComplete() {

      $(".autocomplete").autoComplete({
        minLength: 1,
        formatResult: function (item) {
          console.log("Format result called with item " + item);
          return {
            id: item.guid, text: item.firstName + " " + item.lastName
          }
        },

        events: {

          searchPost: function (resultsFromServer) {
            console.log("Search Post Called. " + resultsFromServer[0].guid);
            return resultsFromServer;
          }
        }

      });

      $(".autocomplete").on('autocomplete.select', function (evt, item) {
        $("#" + evt.currentTarget.attributes["data-target-id"].value).val(item.guid);
        console.log(evt.currentTarget.attributes["data-target-id"].value);
        console.log("added item " + item.guid);
      });

    }

  </script>
}
