@page
@model ISCJ.Pages.StudentManagement.RegistrationsModel
@{
  ViewData["Title"] = "Registrations";
}

<h2>Registrations</h2>
<form method="post">
  
  <table class="table-bordered" border="0">
    <thead>
      <tr>
      
        <th>
          Student Name
        </th>

        <th>
          Mother Name
        </th>
        <th>
          Father Name
        </th>
        <th>
          Islamic School Grade
        </th>
        <th>
          Public School Grade
        </th>

        <th>
         Invoice Amount
        </th>
        <th>

        </th>

      </tr>
    </thead>
    <tbody>
      @for (var i = 0; i < Model.Registrations.Count; i++)
      {
      <tr>
        
        <td>@(Model.Registrations[i].StudentContactInfo.FirstName + " " + @Model.Registrations[i].StudentContactInfo.LastName)</td>
        <td>@(Model.Registrations[i].MotherContactInfo.FirstName + " " + @Model.Registrations[i].MotherContactInfo.LastName)</td>
        <td>@(Model.Registrations[i].FatherContactInfo.FirstName + " " + @Model.Registrations[i].FatherContactInfo.LastName)</td>
        <td>
          <Code code-type="islamicschoolgradelist" code="@Model.Registrations[i].IslamicSchoolGradeId"></Code>
          
          
        </td>
        <td>
          <Code code-type="publicschoolgradelist" code="@Model.Registrations[i].PublicSchoolGradeId"></Code>
        </td>
        <td>$0.00</td>
        <td>
          <input type="submit" class="btn-sm btn-success" value="Details" id="btnDetails" name="btnAction" onClick="return SetRegistrationId('@Model.Registrations[i].RegistrationId');" />
        </td>
      </tr>
      }

    </tbody>

  </table>
  <div>
    <input type="button" id="btnAddNew" name="btnAction" class="btn-sm btn-success" value="Add New" onclick="window.location = 'RegisterStudent2'" />
  </div>
  <input type="hidden" id="regId" name="regId" />

</form>
<script language="javascript">
  function SetRegistrationId(regId) {

    $("#regId").val(contactId);

    return true;
  }
</script>

