@page
@model RegistrationApplicationsModel
@{
    ViewData["Title"] = "Registrations";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<form method="post">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Invoices</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    Financials
                </li>
                <li class="active breadcrumb-item">
                    <strong>Registraton Applications</strong>
                </li>
            </ol>
        </div>
    </div>

    <table class="table-bordered">
        <tr>

            <th>Application Date</th>
            <th>Father Name</th>
            <th>Mother Name</th>
            <th>Total Enrollments</th>
            <th>Amount Due</th>
            <th>Amount Remaining</th>
            <th>Invoice</th>
          
        </tr>
        <tbody>
            @for (var i = 0; i < Model.Registrations.Count; i++)
        {
            <tr>
                <input type="hidden" asp-for="@Model.Registrations[i].ApplicationId" value="@Model.Registrations[i].ApplicationId" />

                <td>@Model.Registrations[i].ApplicationDate</td>
                <td>@Model.Registrations[i].FatherContactId -- TODO</td>
                <td>@Model.Registrations[i].MotherContactId --TODO</td>
                <td><span>@Model.Registrations[i].Enrollments?.Count</span></td>
                <td>TODO</td>
                <td>TODO </td>
                <td>
                    <a href="#">View Invoice - TODO</a>
                </td>

            </tr>
        }
        </tbody>
    </table>
    <input type="button" id="btnAddNew" name="btnAction" class="btn-sm btn-success" value="Add New" onclick="window.location = 'RegisterStudent2'" />

</form>

@section scripts
{
<script language="javascript">
  $(document).ready(function () {
    Startup();
  });

  function Startup() {
    var ctlId = "#ProgramId";//todo: isa: need to generate like we do in asp-for.
    $(ctlId).change(function (x) {
     
      $("form").submit();
    });
  }
  
</script>

}
