@page
@model ISCJ.Pages.School.SubjectAssignmentRulesModel
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}

<form method="POST">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Subject Auto Assignment Rules</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    School
                </li>
                <li class="active breadcrumb-item">
                    <strong>Add/Edit Subject Mapping</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Program</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.ProgramId" class="form-control"
                                asp-items="@Model.Programs">
                            <option value="">Please select one</option>
                        </select>
                        <span asp-validation-for="@Model.ProgramId" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Islamic School Grade</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.IslamicSchoolGradeId" class="form-control"
                                asp-items="@Model.IslamicSchoolGradeList">
                            <option value="">Please select one</option>
                        </select>
                        <span asp-validation-for="@Model.IslamicSchoolGradeId" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group  row">
                    <label class="col-sm-2 col-form-label">Subject</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.SubjectId" class="form-control"
                                asp-items="@Model.Subjects">
                            <option value="">Please select one</option>
                        </select>
                        <span asp-validation-for="@Model.SubjectId" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group row" style="text-align:right">
                    <div class="col-sm-12 col-sm-offset-2">
                        <button class="btn btn-white btn-sm" type="submit" asp-page-handler="Cancel">Cancel</button>

                        <button class="btn btn-white btn-sm" type="submit" asp-page-handler="Reset">Reset</button>

                        <button class="btn btn-primary btn-sm" type="submit" asp-page-handler="Save">Save</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="wrapper border-bottom white-bg">
        
        <table class="table">
            <thead>
            <tr>
                <th>Program</th>
                <th>Subject</th>
                <th>IslamicSchoolGrade</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.SubjectMappings.Count; i++)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model.SubjectMappings[i].ProgramId"/>
                        @Model.SubjectMappings[i].Program.ProgramName
                    </td>
                    <td>
                        @Model.SubjectMappings[i].Subject.SubjectName
                    </td>
                    <td>
                        <x:Code code-type="islamicschoolgradelist" code="@Model.SubjectMappings[i].IslamicSchoolGradeId"></x:Code>

                    </td>
                    <td>
                         </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
</form>
