@page
@using Microsoft.CodeAnalysis.CSharp
@model ISCJ.Pages.SelectTenantModel
@{
    ViewData["Title"] = "SelectTenant";
}

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<form method="Post">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Create Organization</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    User
                </li>
                <li class="active breadcrumb-item">
                    <strong>Create Organization</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="ibox-content">


        <table class="table">
            <thead>
            <tr>

                <th>Tenant Name</th>

            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.Tenants.Count; i++)
            {
                <tr>
                    <input type="hidden" asp-for="@Model.Tenants[i].TenantId"/>
                    <input type="hidden" asp-for="@Model.Tenants[i].OrganizationName"/>

                    <td>@Model.Tenants[i].OrganizationName</td>

                    <td>
                        <button class="btn btn-white btn-sm" type="submit" name="btnLoginToTenant" value="@i"
                                asp-page-handler="SelectTenant">
                            Select
                        </button>
                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
</form>