@page
@model InvoiceListModel
@{
}
@{
  ViewData["Title"] = "Contacts";
  Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<form method="POST" name="InvoiceDisplay">
    <input type="text" asp-for="Name.FirstName" />
    <span asp-validation-for="@Model.Name.FirstName" class="text-danger"></span>
    
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Invoices</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    Financials
                </li>
                <li class="active breadcrumb-item">
                    <strong>Invoices</strong>
                </li>
            </ol>
        </div>
    </div>

    <h3>Total Invoice Amount:</h3>$@Model.PageData.TotalInvoiceAmount <br/>
    <h3>Total Remaining Amount:</h3>$@Model.PageData.TotalRemainingAmount<br/>
    <table class="table-bordered">
        <tr>

            <th>Generation Date</th>
            <th>Due Date</th>
            <th>Invoice Amount</th>
            <th>Responsible Party</th>
            <th>Total Paid</th>
            <th>Remaining</th>
            <th>Pay Amount</th>
            <th>Is Paid</th>
        </tr>
        <tbody>
        @for (var i = 0; i < Model.PageData.RowData.Count; i++)
        {
            <tr>
                <input type="hidden" asp-for="@Model.Invoices[i].InvoiceId" value="@Model.PageData.RowData[i].Invoice.InvoiceId"/>

                <td>@Model.PageData.RowData[i].Invoice.GenerationDate</td>
                <td>@Model.PageData.RowData[i].Invoice.DueDate</td>
                <td>$@Model.PageData.RowData[i].Invoice.InvoiceAmount</td>
                <td><span>@Model.PageData.RowData[i].ResponsiblePartyName</span></td>
                <td>$@Model.PageData.RowData[i].Invoice.TotalPaid</td>
                <td>$@(Model.PageData.RowData[i].Invoice.InvoiceAmount - Model.PageData.RowData[i].Invoice.TotalPaid) </td>
                <td>$<input type="text" value="@Model.PageData.RowData[i].Invoice.TotalPaid" asp-for="@Model.Invoices[i].TotalPaid"/>
                    <span asp-validation-for="@Model.Invoices[i].TotalPaid" class="text-danger"></span>
                </td>

                <td><input type="checkbox" checked="@Model.PageData.RowData[i].Invoice.IsPaid" asp-for="@Model.Invoices[i].IsPaid"/></td>
                <td>
                    <button class="btn btn-white btn-sm" type="submit" name="btnUpdateInvoice" value="@i"
                            asp-page-handler="UpateInvoice">
                        Update
                    </button>
                </td>

            </tr>
        }
        </tbody>
    </table>
</form>