@page
@model ProgramListModel
@{
}

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Pages/Shared/_LayoutModern.cshtml";
}
<form method="POST" name="ProgramsList">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>Programs</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li class="breadcrumb-item">
                    Program Management
                </li>
                <li class="active breadcrumb-item">
                    <strong>Programs</strong>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="ibox">
    <div class="ibox-content">

        <table class="table">
            <thead>
            <tr>
                <th>Program Name</th>
                <th>Description</th>
               
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.ProgramDetails.Count; i++)
            {
                <tr>
                    <input type="hidden" asp-for="@Model.ProgramDetails[i].ProgramId" value="@Model.ProgramDetails[i].ProgramId"/>

                    <td>@Model.ProgramDetails[i].ProgramName</td>
                    <td>@Html.Raw(Model.ProgramDetails[i].ProgramDescription)</td>
                </tr>
            }
            </tbody>
        </table>

    </div>
    </div>
 
</form>